<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ehdqsv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_care"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_care_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EHDQSV2">
        <activity android:name=".AllDepartmentsActivity"></activity>
        <activity android:name=".AllHospitalsActivity" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".QuizTypeOneActivity"
            android:exported="true" />
        <activity
            android:name=".HospitaType3Activity"
            android:exported="true" />
        <activity
            android:name=".HospitaType2Activity"
            android:exported="true" />
        <activity
            android:name=".HospitaType1Activity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HospitalActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>